<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	<mappers>
		<mapper resource="mybatis.mapping/user.map.xml" />
		<mapper resource="mybatis.mapping/event.map.xml" />
		<mapper resource="mybatis.mapping/eventtype.map.xml" />
		<mapper resource="mybatis.mapping/site.map.xml" />
		<mapper resource="mybatis.mapping/serie.map.xml" />
		<mapper resource="mybatis.mapping/attendee.map.xml" />
		<mapper resource="mybatis.mapping/tag.map.xml" />
		<mapper resource="mybatis.mapping/kid.map.xml" />
		<mapper resource="mybatis.mapping/securityCode.map.xml" />
		<mapper resource="mybatis.mapping/creditRule.map.xml" />
		<mapper resource="mybatis.mapping/eventCreditRule.map.xml" />
		<mapper resource="mybatis.mapping/credit.record.map.xml" />
		<mapper resource="mybatis.mapping/team.map.xml" />
	</mappers>
</configuration>