/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
	font-family: 'Open Sans', sans-serif;
}

.pad-top {
	padding-top: 40px;
}

.medals {
	border: 0px;
	width: 10px;
	overflow: hidden
}

.medals1 {
	background: url(../img/1.png);
	background-size: contain;
	background-position: left center;
	border: 0px;
	width: 100px;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 60px;
	border: 0px;
}

.medals2 {
	background: url(../img/2.png);
	background-size: contain;
	border: 0px;
	width: 100px;
	background-repeat: no-repeat;
	overflow: hidden height: 60px;
}

.timeslot .medals4 {
	position: absolute;
	border: 2px solid #67c2ef;
	background: url(../img/1.png);
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50em;
	height: 80px;
	width: 80px;
	left: 50%;
	margin-left: -40px;
	margin-top: -16px;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	text-shadow: none;
	z-index: 2;
}
.medals3 {
	background: url(../img/3.png);
	background-size: contain;
	background-position: left center;
	border: 0px;
	width: 100px;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 60px;
	border: 0px;
}


.medals img {
	max-width: 10px;
	_width: expression(this.width > 10 ? "10px" : this.width);
}