<div class="box span12" ng-controller="CreditRecordCtrl">
	<div class="box-header" data-original-title="">
		<h2>
			<i class="icon-user"></i><span class="break"></span>积分记录
		</h2>

	</div>
	<div class="box-content">
		起始时间：&nbsp;<input type="text" class="gridInput4" date-time
			ng-model="criteria.start" required="true" itemModel="{{$index}}">&nbsp;&nbsp;&nbsp;&nbsp;
		结束时间：&nbsp;<input type="text" class="gridInput4" date-time
			ng-model="criteria.end" required="true" itemModel="{{$index}}">
		<br /> 用户手机：&nbsp;<input id="appendedInputButton" size="16"
			type="text" ng-model="criteria.mobileNum" />&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn" type="button" class="btn btn-info"
			ng-click="search()">搜索</button>
		<table
			class="table table-striped table-bordered bootstrap-datatable datatable">
			<thead>
				<tr>
					<th>用户手机</th>
					<th>记录名称</th>
					<th>获得积分</th>
					<th>获得金牌</th>
					<th>获得银牌</th>
					<th>获得铜牌</th>
					<th>获得日期</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="creditRecord in creditRecords">
					<td>{{creditRecord.mobileNum}}</td>
					<td>{{creditRecord.displayName}}</td>
					<td>{{creditRecord.credit}}</td>
					<td>{{creditRecord.goldenMedal}}</td>
					<td>{{creditRecord.silverMedal}}</td>
					<td>{{creditRecord.bronzeMedal}}</td>
					<td>{{creditRecord.lastModifiedTime | date:"MM/dd/yyyy, HH:mm"
						}}</td>
					<td><span
						ng-class="{0:'label label-success', 1:'label label-warning'}[creditRecord.status]">{{{
							0:'已授予',1:'已撤销'}[creditRecord.status]}}</span></td>
					<td><button ng-show="creditRecord.status==0" class="btn"
							type="button" class="btn btn-info"
							ng-click="withdraw(creditRecord.id,$index)">撤销</button>
						<button ng-show="creditRecord.status==1" class="btn" type="button"
							class="btn btn-info"
							ng-click="recoverWithdraw(creditRecord.id,$index)">恢复</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!--/span-->