<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{{const.registerTitle}}</title>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<!-- Optional theme 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
<!-- FONTAWESOME STYLE CSS -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<!-- CUSTOM STYLE CSS -->
<link href="assets/css/style.css" rel="stylesheet" />

<!-- GOOGLE FONT -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />

</head>
<body ng-controller="MainController as main">
	<div class="container">
		<div class="row  pad-top">
			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form" ng-controller="RegisterController"
						ng-submit="processForm()">
						<div class="form-group input-group" ng-show="currentStep == 1 || currentStep == 2">
							<!--  <i
									class="fa fa-circle-o-notch"></i> -->
							<span class="input-group-addon">#</span> <input type="text"
								class="form-control" placeholder="{{const.mobile}}"
								ng-model="formData.mobileNum" ng-readonly="currentStep == 2" />
						</div>
						<div class="form-group input-group" ng-show="currentStep == 2">
							<span class="input-group-addon">验证码</span> <input type="text"
								class="form-control" ng-model="formData.code" placeholder="验证码" />
						</div>
						<input type="submit" value="{{submit_label}}"
							class="btn btn-info btn-block" ng-show="currentStep != 3">
						<div ng-show="currentStep == 3">登录成功
						<img src=""></img></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- ANGULAR -->
	<script src="assets/plugins/angular.min.js"></script>
	<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
	<!-- CORE JQUERY  -->
	<script src="assets/plugins/jquery-1.10.2.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="assets/plugins/bootstrap.js"></script>
	<script>
		var zmxk = angular.module('zmxk', []);
		zmxk
				.service(
						'userService',
						[
								'$resource',
								'$q',
								function($resource, $q) {
									var usersResource = $resource(
											zmxkConfig.user_rest_uri,
											{
												userId : '@id'
											},
											{
												register : {
													url : zmxk.user_register_uri,
													method : 'Post',
													headers : {
														'Content-Type' : 'application/x-www-form-urlencoded'
													}
												}
											});
									this.register = function(userData) {
										var defer = $q.defer();
										usersResource.save(
												zmxkConfig.user_rest_uri,
												userData, function(body,
														headers) {
													console.log(body.data);
													defer.resolve(body);
												}, function(body, headers) {
													console.log(body.data);
													defer.reject(body);
												})
									}
								} ]);
		zmxk.value('zmxkConfig', {
			user_login_uri : "/service/api/v1/users/login",
			user_register_uri : "/service/api/v1/users/register",
			user_rest_uri : "/service/smartool/api/v1/users/:userId"
		});
		zmxk.controller('MainController', [ '$scope', function($scope) {
			$scope.const = {};
			$scope.const.registerTitle = '登录';
			$scope.const.mobile = '手机号码';
			$scope.const.submit_send_verification = "发送验证码";
			//$scope.const.submit_enter_verification = "输入验证码";
			$scope.const.submit_register = "登录";
			$scope.submit_label = $scope.const.submit_send_verification;

			$scope.mobileVerifySent = false;
			$scope.mobileVerified = false;
			$scope.TotalStep = 3;
			$scope.currentStep = 1;
		} ]);
		var send_code_uri;

		zmxk
				.controller(
						'RegisterController',
						[
								'$scope',
								'$http',
								function($scope, $http) {
									$scope.formData = {};
									$scope.formData.kids = [];
									$scope.processForm = function() {
											$scope.send_code_uri = "service/smartool/api/v1/users/login";
											if($scope.currentStep == 2){
												$scope.send_code_uri = $scope.send_code_uri+"?code="+$scope.formData.code;
											}
											$http(
													{
														method : 'POST',
														url : $scope.send_code_uri,
														data : JSON.stringify($scope.formData), // pass in data as strings
														headers : {
															'Content-Type' : 'application/json'
														}
													// set the headers so angular passing info as form data (not request payload)
													})
													.success(
															function(data) {
																$scope.currentStep = 3;
																$scope.submit_label = $scope.const.registerTitle;
															})
													.error(function(data, header){
														console.log(data.message)
														if(406 ==header && data.message){
															$scope.currentStep = 2;
															$scope.formData.code = data.message;
															$scope.submit_label = $scope.const.registerTitle;
														} else if(data.message) {
															alert(data.message)
														}
// 														else {
// 															alert("")
// 														}
													});

									};
								} ]);
		angular.bootstrap(document, [ 'zmxk' ]);
	</script>
</body>
</html>