<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{{const.registerTitle}}</title>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
<!-- Optional theme 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
<!-- FONTAWESOME STYLE CSS -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="assets/css/font-awesome-ie7.min.css" rel="stylesheet" />
<!-- CUSTOM STYLE CSS -->
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/zmxk.css" rel="stylesheet" />

</head>
<body ng-controller="MainController as main">
	<div class="container">
		<div class="row  pad-top">
			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form"
						ng-init="buttonDisabled=false;showPassword=false;"
						ng-controller="LoginController"
						ng-submit="buttonDisabled=true;processForm();buttonDisabled=false;">
						<div class="form-group input-group"
							ng-show="currentStep == 1 || currentStep == 2">
							<!--  <i
									class="fa fa-circle-o-notch"></i> -->
							<span class="input-group-addon"></span> <input type="text"
								class="form-control" placeholder="{{const.mobile}}"
								ng-model="formData.mobileNum" />
						</div>
						<div class="form-group input-group" ng-show="currentStep == 2">
							<span class="input-group-addon"></span> <input
								ng-hide="showPassword" type="password" class="form-control"
								ng-model="formData.password" placeholder="密码" /><input
								ng-show="showPassword" type="text" class="form-control"
								ng-model="formData.password" placeholder="密码" />
						</div>
						<div class="form-group input-group">
							<a href="register.html">注册</a>
						</div>
						<div class="checkbox">
							<input type="checkbox" ng-model="showPassword"
								ng-show="currentStep == 2" /><span ng-show="currentStep == 2">显示密码</span>
						</div>

						<input ng-disabled="buttonDisabled" type="submit"
							value="{{submit_label}}" class="btn btn-info btn-block"
							ng-show="currentStep != 3">
						<div ng-show="currentStep == 3">
							登录成功, 正在跳转 ... <img src=""></img>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- ANGULAR -->

	<script src="assets/js/angular.js"></script>
	<script src="assets/js/angular-resource.min.js"></script>
	<script src="assets/js/angular-route.min.js"></script>
	<script src="assets/js/angular-cookies.min.js"></script>
	<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
	<!-- CORE JQUERY  -->
	<script src="assets/plugins/jquery-1.10.2.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="assets/plugins/bootstrap.js"></script>
	<script>
		var zmxk = angular.module('zmxk', [ 'ngResource', 'ngRoute',
				'ngCookies' ]);
		zmxk.config([ '$resourceProvider', function($resourceProvider) {
			// Don't strip trailing slashes from calculated URLs
			$resourceProvider.defaults.stripTrailingSlashes = false;
		} ]);
		zmxk
				.service(
						'userService',
						[
								'$resource',
								'$q',
								function($resource, $q) {
									var usersResource = $resource(
											zmxkConfig.user_rest_uri,
											{
												userId : '@id'
											},
											{
												register : {
													url : zmxk.user_register_uri,
													method : 'Post',
													headers : {
														'Content-Type' : 'application/x-www-form-urlencoded'
													}
												}
											});
									this.register = function(userData) {
										var defer = $q.defer();
										usersResource.save(
												zmxkConfig.user_rest_uri,
												userData, function(body,
														headers) {
													console.log(body.data);
													defer.resolve(body);
												}, function(body, headers) {
													console.log(body.data);
													defer.reject(body);
												})
									}
								} ]);

		zmxk.value('zmxkConfig', {
			user_login_uri : "/service/api/v1/users/login",
			user_register_uri : "/service/api/v1/users/register",
			user_rest_uri : "/service/smartool/api/v1/users/:userId"
		});
		zmxk.controller('MainController', [
				'$scope',
				'$location',
				'$window',
				'$route',
				'$cookies',
				'$routeParams',
				function($scope, $location, $window, $route, $cookies,
						$routeParams) {
					$scope.const = {};
					$scope.const.registerTitle = '登录';
					$scope.const.mobile = '手机号码';
					//$scope.const.submit_enter_verification = "输入验证码";
					$scope.const.submit_register = "登录";
					$scope.submit_label = $scope.const.submit_register;

					$scope.mobileVerifySent = false;
					$scope.mobileVerified = false;
					$scope.TotalStep = 3;
					$scope.currentStep = 2;

					$scope.message = "";

					$scope.$location = $location;
					var url = $scope.$location;
					$scope.popTo = $location.search().page;

					if (angular.isUndefined($scope.popTo)) {
						$scope.popTo = "qrcode";
					}

					$scope.popTo = $scope.popTo + ".html";

					$scope.popTo = window.location.origin + "/" + $scope.popTo;
					console.log($scope.popTo);

				} ]);
		var send_code_uri;

		zmxk
				.controller(
						'LoginController',
						[
								'$scope',
								'$http',
								'$cookies',
								'$timeout',
								function($scope, $http, $cookies, $timeout) {
									$scope.formData = {};
									$scope.formData.kids = [];
									$scope.processForm = function() {
										$scope.send_code_uri = "service/smartool/api/v1/users/login";
										if ($scope.currentStep == 2) {
											$scope.send_code_uri = $scope.send_code_uri
													+ "?code="
													+ $scope.formData.code;
										}
										$http(
												{
													method : 'POST',
													url : $scope.send_code_uri,
													data : JSON
															.stringify($scope.formData), // pass in data as strings
													headers : {
														'Content-Type' : 'application/json'
													}
												// set the headers so angular passing info as form data (not request payload)
												})
												.success(
														function(data) {
															$scope.currentStep = 3;
															$scope.status = 200;
															$scope.submit_label = $scope.const.registerTitle;

															$cookies
																	.put(
																			"loginUser",
																			angular
																					.toJson(data));

															$timeout(
																	function() {
																		window.location.href = $scope.popTo;
																	}, 3000)
														})
												.error(
														function(data, header) {
															console
																	.log(data.message)
															if (406 == header
																	&& data.message) {
																$scope.currentStep = 2;
																$scope.formData.code = data.message;
																$scope.submit_label = $scope.const.registerTitle;
															} else if (404 == header
																	&& data.message) {
																$scope.currentStep = 3;
																$scope.status = 404;
															} else if (data.message) {
																alert(data.message)
															}
															// 														else {
															// 															alert("")
															// 														}
														});

									};
								} ]);
		angular.bootstrap(document, [ 'zmxk' ]);
	</script>
</body>
</html>