<form class="form-horizontal" />
<fieldset>
	<div class="control-group">
		<label class="control-label" for="selectError3"></label>
		<div class="box span11">
			<div class="box-header">
				<h2>
					<i class="icon-align-justify"></i><span class="break"></span>赛事列表
				</h2>
			</div>
			<div class="box-content">
				<table class="table">
					<thead>
						<tr>
							<th>赛事名</th>
							<th>赛事类型</th>
							<th>赛事种类</th>
							<th>时间</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="event in events">
							<td class="center">{{event.name}}</td>
							<td class="center">{{event.eventType}}</td>

							<td class="center"><span class="label label-success"
								ng-bind="{true:'团队赛事', false:'个人赛事'}[event.team==true]"></span>
							</td>
							<td class="center">{{formatDate(event.eventTime) |
								date:"MM/dd/yyyy, HH:mm" }}</td>
							<td class="center">
								<div>
									目前：<span class="label label-success">{{event.enrolledCount}}</span>
								</div>
								<div>
									剩余：<span class="label label-warning">{{event.leftCount}}</span>
								</div>
							</td>
							<td class="center"><label class="radio"> <input
									type="radio" name="optionsRadios" id="optionsRadios1"
									checked="" value="{{event.id}}" ng-model="value"
									ng-click='selectEvent(event)' />
							</label></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--/span-->
	</div>
</fieldset>
</form>