<label class="control-label" for="appendedInputButton">手机号码/微信ID</label>
<div class="controls">
	<div class="input-append">
		<input id="appendedInputButton" size="16" type="text"
			ng-model="enroll_form_data.userQueryString" />
		<button class="btn" type="button" ng-click="searchUser()">搜索</button>
	</div>
</div>
<fieldset>
	<div class="box span11">
		<div class="box-header">
			<h2>
				<i class="icon-align-justify"></i><span class="break"></span>用户信息
			</h2>
		</div>
		<div class="box-content ">
			<table class="table">
				<thead>
					<tr>
						<th>姓名</th>
						<th>手机</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">{{found_user.name}}</td>
						<td class="center">{{found_user.mobileNum}}</td>
						<td class="center"><label class="radio"> <input
									type="radio" name="optionsRadios" id="optionsRadios1"
									checked="" value="{{found_user}}" ng-model="value" ng-click='chooseUser()'/>
							</label></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</fieldset>