<form class="form-horizontal" ng-submit="processForm()" />
<fieldset>
	<div class="control-group">
		<label class="control-label" for="inputWarning">姓名</label>
		<div class="controls">
			<input type="text" ng-model="enroll_form_data.name" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputWarning">手机号码</label>
		<div class="controls">
			<input type="text" ng-model="enroll_form_data.mobileNum" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputWarning">小孩姓名</label>
		<div class="controls">
			<input type="text" ng-model="enroll_form_data.kidName" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputWarning">微信号</label>
		<div class="controls">
			<input type="text" ng-model="enroll_form_data.wcId" />
		</div>
	</div>
</fieldset>
</form>