<div class="row-fluid">
	<div class="box span12" ng-controller="SerieManageCtrl"
		ng-init="init()">
		<div class="box-header">
			<h2>
				<i class="icon-edit"></i>联赛管理
			</h2>
		</div>
		<div class="box-content">
			<input ng-model="filterRule.name" class="form-control gridInput2" />
		</div>
		<div class="box-content">
			<table
				class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<th>联赛名</th>
						<th>所属类型</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>联赛层级</th>
						<!-- <th>升级条件</th> -->
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="serie in eventSeries | filter:filterRule">
						<td><span ng-hide="{{serie.showInput}} == true"><a
								href="#/sites/{{siteId}}/events/{{serie.eventTypeId}}/serieses/{{serie.id}}">{{serie.name}}</a></span> <input
							ng-model="serie.name" ng-show="{{serie.showInput}}"
							class="gridInput2" /></td>
						<td><div>
								<select ng-disabled="{{!serie.showInput}}"
									class="selectpicker gridInput2" data-style="btn-info"
									ng-model="serie.team"
									ng-options="option.id as option.name for option in eventSeriesCategories"
									ng-init="serie.team==option.id">
								</select>
							</div>
							<div>
								<select ng-disabled="{{!serie.showInput}}"
									class="selectpicker gridInput2" data-style="btn-info"
									ng-model="serie.eventTypeId"
									ng-options="option.id as option.name for option in eventTypes"
									ng-init="serie.eventTypeId==option.id">
								</select>
							</div></td>
						<td class="center"><input type="text"
							ng-disabled="{{!serie.showInput}}" class="gridInput2" date-time
							ng-model="serie.startTime" required="true" view="hours"></td>
						<td class="center"><input type="text"
							ng-disabled="{{!serie.showInput}}" class="gridInput2" date-time
							ng-model="serie.endTime" required="true" view="hours"></td>
						<td><span ng-hide="{{serie.showInput}} == true">{{serie.stages}}</span>
							<input ng-model="serie.stages" ng-show="{{serie.showInput}}"
							class="gridInput" /></td>
						<!-- <td><span ng-hide="{{serie.showInput}} == true">{{serie.rankUpgradeQualification}}</span>
							<input ng-model="serie.rankUpgradeQualification"
							ng-show="{{serie.showInput}}" class="gridInput"/></td> -->
						<td class="center"><span class="btn btn-info"
							ng-click="updateSerie(serie, $index)"
							ng-bind="{true:'保存', false:'修改'}[serie.changed==true]"></span><span
							class="btn btn-danger" ng-click="deleteSerie(serie, $index)">
								删除 </span></td>
					</tr>
				</tbody>
			</table>
			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn btn-info" ng-click="createSerie()">创建</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/row-->