<div class="row-fluid">
	<div class="box span12" ng-controller="EventRuleCtrl">
		<div class="box-header">
			<h2>
				<i class="icon-edit"></i>赛事积分规则管理
			</h2>
		</div>
		<div class="box-content">
			<input ng-model="filterRule.name" class="form-control gridInput2" />
		</div>
		<div class="box-content">
			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn btn-info"
						ng-click="createNewRule()">创建</button>
				</div>
			</div>
		</div>
		<div class="box-content">

			<table
				class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<th>规则名</th>
						<th>赛事类型名</th>
						<th>赛事阶段</th>
						<th>组别</th>
						<th>排名</th>
						<th>给予积分</th>
						<th>给予奖牌</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody>

					<tr ng-repeat="rule in eventRules | filter:filterRule">
						<td class="center"><span ng-hide="{{rule.showInput}}"
							ng-bind="rule.name"></span> <input ng-model="rule.name"
							ng-show="{{rule.showInput}}" class="form-control gridInput2" /></td>
						<td class="center"><select ng-disabled={{!rule.showInput}}
							class="selectpicker gridInput2" data-style="btn-info"
							ng-model="rule.eventTypeId"
							ng-options="eventType.id as eventType.name for eventType in eventTypeList"
							ng-init="rule.eventTypeId==eventType.id" ng-change="getEventDefs(rule)">
						</select></td>
						<td class="center"><select ng-disabled={{!rule.showInput}}
							class="selectpicker gridInput2" data-style="btn-info"
							ng-model="rule.stage"
							ng-options="stage.stage as stage.name for stage in rule.stages"
							ng-init="rule.stage==stage.stage">
						</select></td>
						<td class="center"> <select ng-disabled={{!rule.showInput}}
							class="selectpicker gridInput2" data-style="btn-info"
							ng-model="rule.roundLevel"
							ng-options="tag.level as tag.levelName for tag in roundList"
							ng-init="rule.roundLevel==tag.level">
						</td>
						
						<td class="center"><span ng-hide="{{rule.showInput}}"
							ng-bind="rule.upperRank"></span> <input ng-model="rule.upperRank"
							ng-show="{{rule.showInput}}" class="form-control gridInput" /> ~
							<span ng-hide="{{rule.showInput}}" ng-bind="rule.lowerRank"></span>
							<input ng-model="rule.lowerRank" ng-show="{{rule.showInput}}"
							class="form-control gridInput" /></td>
						<td class="center"><span ng-hide="{{rule.showInput}}"
							ng-bind="rule.credit"></span> <input ng-model="rule.credit"
							ng-show="{{rule.showInput}}" class="form-control gridInput" /></td>
						<td class="center">金<span ng-hide="{{rule.showInput}}"
							ng-bind="rule.goldenMedal"></span> <input
							ng-model="rule.goldenMedal" ng-show="{{rule.showInput}}"
							class="form-control gridInput" /><br />银<span
							ng-hide="{{rule.showInput}}" ng-bind="rule.silverMedal"></span> <input
							ng-model="rule.silverMedal" ng-show="{{rule.showInput}}"
							class="form-control gridInput" /><br />铜<span
							ng-hide="{{rule.showInput}}" ng-bind="rule.bronzeMedal"></span> <input
							ng-model="rule.bronzeMedal" ng-show="{{rule.showInput}}"
							class="form-control gridInput" /></td>
						<td class="center"><a class="btn btn-info"
							href="#/event_rules"
							ng-click="rule.showInput?saveRule($index, rule):updateRule($index, rule)">
								{{rule.showInput?"确定":"修改"}}</i>
						</a><a class="btn btn-danger" href="#/event_rules"
							ng-click="deleteRule($index, rule)"> {{deleteLabel}} </a></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<!--/row-->