<div class="row-fluid" ng-controller="EventDetailCtrl" ng-init="init()">
	<div class="box span12" >
		<div class="box-header">
			<h2>
				<i class="icon-edit"></i>赛事管理
			</h2>
		</div>
		<!-- <div class="gridStyle" ng-grid="gridOptions"></div> -->
		<div class="box-content">
			<div class="controls">
				组：<select class="selectpicker gridInput4" data-style="btn-info"
					ng-model="choosedOptionId"
					ng-change="chooseAttendeesByRound(choosedOptionId)"
					ng-options="option.id as option.name for option in eventRounds"></select>
				组别：<select class="selectpicker gridInput4" data-style="btn-info"
					ng-model="choosedOptionLevelId"
					ng-change="chooseAttendeesByRoundLevel(choosedOptionLevelId)"
					ng-options="id as name for (id, name) in roundLevelList"></select>
				<span class="btn btn-info" ng-click="cancelRoundChoose()">取消组别选择</span>

				<button type="button" class="btn btn-warn"
					ng-click="generateGrades()">{{generateGradesLabel}}</button>
			</div>
		</div>
	<!---->
	<div class="box-content" ng-show="isGeneratedGrades==false">
		<table
			class="table table-striped table-bordered bootstrap-datatable datatable">
			<thead>
				<tr>
					<th>选手名</th>
					<th>属性</th>
					<th>车次</th>
					<th>状态</th>
					<th><a href="" ng-click="order('score')">成绩</a><span class="sortorder" ng-show="predicate === 'score'" ng-class="{reverse:reverse}"></span></th>
					<th><a href="" ng-click="order('rank')">排名</a><span class="sortorder" ng-show="predicate === 'rank'" ng-class="{reverse:reverse}"></span></th>
					<th><a href="" ng-click="order('roundAndRank')">当前组别</a><span class="sortorder" ng-show="predicate === 'roundAndRank'" ng-class="{reverse:reverse}"></span></th>
					<th>操作</th>
				</tr>
			</thead>
			<!-- ng-repeat="(key, value) in eventInit.attendees | groupBy:'team'" -->
			<tbody>
				<tr ng-repeat="attendee in eventInit.attendees | orderBy:predicate:reverse">
					<td class="center">
						<center>
							<div>
								<img ng-src="{{attendee.avatarUrl}}" width="100"></img>
							</div>
							<div>{{attendee.kidName}}</div>
						</center>
					</td>
					<td class="center">
					
						<div ng-show="eventInit.team">
							战队：<span class="label label-success">{{attendee.teamName}}</span>
						</div>
						<div ng-show="attendee.schoolType!=2">{{attendee.schoolName}}</div>
					</td>
					<td class="center">{{attendee.seq}}</td>
					<td class="center"><span
						ng-class="{true:'label label-success', false:'label label-warning'}[attendee.score > 0]">{{{true:'已完成比赛',
							false:'未完成比赛'}[attendee.score > 0]}}</span></td>
					<td class="center"><span ng-hide="attendee.editing"
						ng-bind="attendee.min"></span> <input ng-model="attendee.min"
						ng-show="attendee.editing" class="form-control gridInput" />分<span
						ng-hide="attendee.editing" ng-bind="attendee.sec"></span> <input
						ng-model="attendee.sec" ng-show="attendee.editing"
						class="form-control gridInput" />秒
					<td class="center">{{attendee.rank}}</td>
					<td class="center"><span ng-click="attendee.editing=true"
						ng-hide="attendee.editing"
						ng-bind="{true: '未授予组别', false : attendee.roundName}[attendee.roundName==null]"
						ng-class="showTagClass(attendee.roundType)"> </span> <select
						ng-show="attendee.editing" class="selectpicker gridInput1"
						data-style="btn-info" ng-model="attendee.roundId"
						ng-options="option.id as option.name for option in attendee.thisLevelRounds" ng-change="confimrGroupUpdate(attendee, '{{attendee.roundId}}')">
					</select>
					<td class="center">
						<span type="button" class="btn btn-info"
						ng-click="applyAttendeeChanges(attendee)"
						ng-bind="{true:'保存', false:'修改'}[attendee.editing==true]"></span>
						<span
						class="btn btn-warn" ng-click="giveCredit(attendee)"
						ng-disabled="canGiveCredit(attendee)">授予积分</span> 
						<span
						ng-disabled="{{attendee.nextLevelRounds.length==0}}"
						ng-class="{true:'btn btn-warn', false:'btn btn-error'}[attendee.nextLevelRounds.length==0]"
						ng-click="editNextRound(attendee)" ng-hide="attendee.toNextRound"> {{attendee.nextRoundLabel}}</span>
						<select ng-show="attendee.toNextRound"
						class="selectpicker gridInput1" data-style="btn-info"
						ng-model="attendee.roundId"
						ng-options="option.id as option.name for option in attendee.nextLevelRounds" ng-change="promoteToNextRound(attendee)">
					</select></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="box-content" ng-show="isGeneratedGrades">
		<table
			class="table table-striped table-bordered bootstrap-datatable datatable">
			<thead>
				<tr>
					<th>选手名</th>
					<th>状态</th>
					<th>成绩</th>
					<th>排名</th>
					<th>组别</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="attendee in eventInit.attendees | orderBy:'rank'">
					<td class="center">
						<center>
							<div>
								<img ng-src="{{attendee.avatarUrl}}" width="100"></img>
							</div>
							<div>{{attendee.kidName}}</div>
						</center>
					</td>
					<td class="center"><span
						ng-class="{true:'label label-success', false:'label label-warning'}[attendee.score > 0]">{{{true:'已完成比赛',
							false:'未完成比赛'}[attendee.score > 0]}}</span></td>
					<td class="center"><span ng-hide="attendee.editing"
						ng-bind="attendee.min"></span> <input ng-model="attendee.min"
						ng-show="attendee.editing" class="form-control gridInput" />分<span
						ng-hide="attendee.editing" ng-bind="attendee.sec"></span> <input
						ng-model="attendee.sec" ng-show="attendee.editing"
						class="form-control gridInput" />秒
					<td class="center">{{attendee.rank}}</td>
					<td class="center"><span ng-click="attendee.editingRound=true"
						ng-hide="attendee.editingRound"
						ng-bind="{true: '未授予组别', false : attendee.roundName}[attendee.roundName==null]"
						ng-class="showTagClass(attendee.roundType)"></span> <select
						ng-show="attendee.editingRound" class="selectpicker gridInput2"
						data-style="btn-info" ng-model="attendee.roundId"
						ng-options="option.id as option.name for option in eventRounds">
					</select></td>
				</tr>
			</tbody>
		</table>
	</div>


</div>
</div>
<!--/row-->