<!-- <table class="table table-striped table-bordered bootstrap-datatable datatable">
	<thead>
		<tr>
			<th>选手名</th>
			<th>赛事名</th>
			<th>赛事类型</th>
			<th>分数</th>
			<th>排名</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="attendee in eventInit.attendees">
			<td class="center">{{attendee.kidName}}</td>
			<td class="center">{{eventInit.name}}</td>
			<td class="center">{{eventInit.eventType}}</td>
			<td class="center">{{attendee.score}}</td>
			<td class="center">{{attendee.rank}}</td>
			<td class="center"><label class="radio"> <input
					type="radio" name="optionsRadios" id="optionsRadios1" checked=""
					value="{{event.id}}" ng-model="value" ng-click='selectEvent(value)' />
			</label></td>
		</tr>
	</tbody>
</table> -->

<div class="gridStyle" ng-grid="gridOptions"></div>