<div class="row-fluid">
	<div class="box span12" ng-controller="EventManageCtrl"
		ng-init="init()">
		<div class="box-header">
			<h2>
				<i class="icon-edit"></i>赛事管理
			</h2>
		</div>



		<div class="box-content">
			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn btn-info" ng-click="createEvent()">创建</button>
				</div>
			</div>
			<div class="box-content">
				按赛事名搜索：<input ng-model="filterRule.name" class="form-control gridInput4" />
			</div>
			<table
				class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<th>时间</th>
						<th>赛事详细</th>
						<th>赛事名</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in listEvents | filter:filterRule">

						<td class="center"><input type="text"
							ng-disabled="{{!event.showInput}}" class="gridInput2" date-time
							ng-model="event.eventTime" required="true" view="hours"
							itemModel="{{$index}}"></td>
						<td>

							<div>
								赛道：<select ng-disabled="{{!event.showInput}}"
									class="selectpicker gridInput4" data-style="btn-info"
									ng-model="event.siteId"
									ng-options="option.id as option.name for option in sites"
									ng-init="event.siteId==option.id">
								</select>
							</div>
							<div>
								属性：<select ng-disabled="{{!event.showInput}}"
									class="selectpicker gridInput4" data-style="btn-info"
									ng-model="event.team"
									ng-options="option.id as option.name for option in eventCategories"
									ng-init="event.team==option.id">
								</select>
							</div>
							<div>
								类型：<select ng-disabled="{{!event.showInput}}"
									class="selectpicker gridInput4" data-style="btn-info"
									ng-model="event.eventTypeId"
									ng-options="option.id as option.name for option in eventTypes"
									ng-init="event.eventTypeId==option.id"
									ng-change="initSeries(event)">
								</select>
							</div>
							<div>
								联赛：<select ng-disabled="{{!event.showInput}}"
									class="selectpicker gridInput4" data-style="btn-info"
									ng-model="event.seriesId"
									ng-options="option.id as option.name for option in event.eventSeries"
									ng-init="event.seriesId==option.id">
								</select>
							</div>
							<div>
								阶段：<select ng-disabled={{!event.showInput}}
									class="selectpicker gridInput4" data-style="btn-info"
									ng-model="event.stage"
									ng-options="stage.value as stage.label for stage in stages"
									ng-init="event.stage==stage.value"
									ng-change="formEventName($index)">
								</select>
							</div>
						</td>
						<td>
							<!--<span ng-hide="{{event.showInput}} == true"><a
								href="#/events/{{event.id}}">{{event.name}}</a></span>--> <span
							ng-hide="{{event.showInput}} == true"><a
								href="#/events/{{event.id}}">{{event.name}}</a></span> <input
							ng-model="event.name" ng-show="{{event.showInput}}"
							ng-change="changeName($index)" />
						</td>
						<td class="center">
							<div>
								可录：<span class="label label-error">{{event.leftCount}}</span>
							</div>
							<div>
								已录：<span class="label label-warning">{{event.enrolledCount}}</span>
							</div>
							<div>
								完成：<span class="label label-success">{{event.applyScoreCount}}</span>
							</div>
							<div>
								上限：<span ng-hide="{{event.showInput}} == true"
									ng-bind="event.quota"></span> <input ng-model="event.quota"
									ng-show="{{event.showInput}}" class="gridInput" />
							</div>
						</td>
						<td class="center"><span ng-show="event.id"
							ng-class="{0:'label label-success', 1:'label label-success', 2:'label label-success', 3:'label label-success'}[event.status]">{{{0:'已创建',
								1:'已开始',2:'已冻结',3:'已授予奖励'}[event.status]}}</span></td>
						<td class="center"><span class="btn btn-info"
							ng-click="updateEvent(event, $index)"
							ng-show="{{event.status<2}}"
							ng-bind="{true:'保存', false:'修改'}[event.changed==true]"></span><span
							class="btn btn-danger" ng-click="deleteEvent(event, $index)">
								删除 </span><span ng-show="{{event.status<2}}" class="btn"
							ng-show="event.existed" ng-click="freezeEvent(event, $index)">
								冻结 </span></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<!--/row-->