<!DOCTYPE html>
<html lang="en" ng-app="zmxk">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{{const.registerTitle}}</title>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.31.css">

<!---->
<link href="css/zmxk.css" rel="stylesheet" /> 


</head>
<body ng-controller="MainController as main">
	<div class="container">
		<div class="row  pad-top">
			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form" ng-controller="LoginController"
						ng-submit="processForm()">
						<div class="form-group input-group"
							ng-show="currentStep == 1 || currentStep == 2">
							<!--  <i
									class="fa fa-circle-o-notch"></i> -->
							<span class="input-group-addon">#</span> <input type="text"
								class="form-control" placeholder="{{const.mobile}}"
								ng-model="formData.mobileNum" ng-readonly="currentStep == 2" />
						</div>
						<div class="form-group input-group" ng-show="currentStep == 2">
							<span class="input-group-addon">验证码</span> <input type="text"
								class="form-control" ng-model="formData.code" placeholder="验证码" />
						</div>
						<input type="submit" value="{{submit_label}}"
							class="btn btn-info btn-block" ng-show="currentStep != 3">
						<div ng-show="currentStep == 3">
							登录成功 <img src=""></img>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- ANGULAR -->
	<script src="js/jquery-1.10.2.min.js"></script>

	<script src="js/angular.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/dialogs.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
	<script src="js/zmxk/app.js"></script>
	<script src="js/zmxk/services.js"></script>
	<script src="js/zmxk/ctrl.main.js"></script>
	<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
	<!-- CORE JQUERY  -->

	<script>
		var send_code_uri;

		zmxk
				.controller(
						'LoginController',
						[
								'$scope',
								'$http',
								'$timeout',
								function($scope, $http, $timeout) {
									$scope.const = {};
									$scope.const.registerTitle = '登录';
									$scope.const.mobile = '手机号码';
									$scope.const.submit_send_verification = "发送验证码";
									//$scope.const.submit_enter_verification = "输入验证码";
									$scope.const.submit_register = "登录";
									$scope.submit_label = $scope.const.submit_send_verification;

									$scope.mobileVerifySent = false;
									$scope.mobileVerified = false;
									$scope.TotalStep = 3;
									$scope.currentStep = 1;
									$scope.formData = {};
									$scope.formData.kids = [];
									$scope.processForm = function() {
										$scope.send_code_uri = "/service/smartool/api/v1/users/login";
										if ($scope.currentStep == 2) {
											$scope.send_code_uri = $scope.send_code_uri
													+ "?code="
													+ $scope.formData.code;
										}
										$http(
												{
													method : 'POST',
													url : $scope.send_code_uri,
													data : JSON
															.stringify($scope.formData), // pass in data as strings
													headers : {
														'Content-Type' : 'application/json'
													}
												// set the headers so angular passing info as form data (not request payload)
												})
												.success(
														function(data) {
															$scope.currentStep = 3;
															$scope.submit_label = $scope.const.registerTitle;
															$scope
																	.launch(
																			"notify",
																			"登陆成功",
																			"按确定或3秒钟后自动跳转",
																			function() {
																				$scope
																						.hoopPage(
																								"admin/index.html#/users",
																								[])
																			},
																			function() {
																			});
															/* */
															$timeout(
																	function() {
																		$scope
																				.hoopPage(
																						"admin/index.html#/users",
																						[])
																	}, 3000)
														})
												.error(
														function(data, header) {
															console
																	.log(data.message)
															if (406 == header
																	&& data.message) {
																$scope.currentStep = 2;
																$scope.formData.code = data.message;
																$scope.submit_label = $scope.const.registerTitle;
															} else if (data.message) {
																$scope
																		.launch(
																				"error",
																				"",
																				data.message,
																				function() {

																				},
																				function() {
																				});
															}
														});

									};
								} ]);
		//angular.bootstrap(document, [ 'zmxk' ]);
	</script>
</body>
</html>