<div class="box span12" ng-controller="UserCtrl" ng-init="init()">
	<div class="box-header" data-original-title="">
		<h2>
			<i class="icon-user"></i><span class="break"></span>用户列表
		</h2>

	</div>
	<div class="box-content">
		<input ng-model="filterRule.name" class="form-control gridInput2"/>
	</div>
	<div class="box-content">
		<table
			class="table table-striped table-bordered bootstrap-datatable datatable">
			<thead>
				<tr>
					<th>用户名</th>
					<th>手机号</th>
					<th>注册时间</th>
					<th>角色</th>
					<th>积分</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in userList | filter:filterRule">
					<td><a href="#/users/{{user.id}}">{{user.name}}</a></td>
					<td>{{user.mobileNum}}</td>
					<td class="center">{{formatDate(user.createdTime)}}</td>
					<td class="center"><span ng-hide="{{user.showInput}} == true"
						ng-class="{0:'label label-success', 1:'label label-warning', 2:'label label-important'}[user.roleId]">{{{0:'用户',
							1:'操作人员',2:'管理员'}[user.roleId]}}</span><select
						ng-show="{{user.showInput}} == true"
						class="selectpicker gridInput2" data-style="btn-info"
						ng-model="user.roleId"
						ng-options="option.value as option.label for option in roles_option">
					</select></td>
					<td class="center"><span ng-hide="{{user.showInput}} == true"
						ng-bind="user.credit"></span> <select ng-disabled="true"
						ng-show="{{user.showInput}} == true"
						class="selectpicker gridInput2" data-style="btn-info"
						ng-model="user.credit"
						ng-options="option.value as option.label for option in credit_option">
					</select></td>
					<td class="center"><span class="btn btn-info"
						ng-click="updateUser(user, $index)"
						ng-bind="{true:'保存', false:'修改'}[user.changed==true]"></span><span
						class="btn btn-danger" href="#/users"
						ng-click="deleteUser(user, $index)"> {{deleteLabel}} </span></td>
				</tr>
			</tbody>
		</table>
		<!-- <div class="control-group">
			<div class="controls">
				<button type="button" class="btn btn-info" ng-click="createUser()">创建</button>
			</div>
		</div> -->
	</div>
</div>
<!--/span-->